<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demofunctionapptwistingplains.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/37024b40-65d2-478d-aa94-e925c453ebcb/resourcegroups/demoRG/providers/Microsoft.Web/sites/DemoFunctionAppTwistingPlains</ResourceId>
    <UserName>$DemoFunctionAppTwistingPlains</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://demofunctionapptwistingplains.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>